<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Egrn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Egrn.Properties.Settings>
            <setting name="patternFile" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="pathZip" serializeAs="String">
                <value />
            </setting>
            <setting name="pathXml" serializeAs="String">
                <value />
            </setting>
            <setting name="pathPDF" serializeAs="String">
                <value />
            </setting>
            <setting name="xslFile" serializeAs="String">
                <value />
            </setting>
            <setting name="pathExcel" serializeAs="String">
                <value />
            </setting>
            <setting name="isExtractPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isExtractExcel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isUnionXML" serializeAs="String">
                <value>False</value>
            </setting>
        </Egrn.Properties.Settings>
    </userSettings>
</configuration>